* {
  padding: 0;
  margin: 0;
}

#page1-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page1 {
  height: 100vh;
  width: 100vw;
  background-color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#page1 h1 {
  font-size: 9vw;
  font-weight: 800;
  text-transform: uppercase;
  color: white;
  /* color: #0ca34e; */
}
#page1 p {
  font-weight: 400;
  text-align: center;
  color: rgb(175, 175, 175);
}
#page1Badges {
  display: flex;
  align-items: center;
  justify-content: center;
}
#page1Badges h4 {
  font-size: 1.2vw;
  font-weight: 400;
  text-transform: lowercase;
  padding: 5px 10px;
  border: 1px solid #a5a5a5;
  border-radius: 50px;
  margin-top: 1.5vw;
  color: #a5a5a5;
}

#page1Badges h4:nth-last-child(2) {
  border: none;
}
nav {
  position: fixed;
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 1vw 8vw;
  justify-content: space-between;
  background-color: black;
  z-index: 999999;
}

nav h1 {
  color: white;
}
nav button {
  display: flex;
  color: white;
  justify-content: center;
  padding: 10px 20px;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  background-color: #0ca34e;
  border-radius: 50px;
  font-size: 0.85vw;
}
nav button svg {
  height: 0.85vw;
  margin-left: 1.5vw;
}

.nav-part-2 {
  display: flex;
  gap: 2vw;
  align-items: flex-start;
  padding: 2vh;
}
.nav-part-2 h4 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9vw;
  color: white;
  transition: 0.3s all ease;
  margin-bottom: 1.5vw;
}
.nav-part-2 h5 span {
  font-size: 0.9vw;
  color: white;
  font-weight: 400;
  display: inline-block;
}

.nav-part-2 h4:hover {
  color: #0ca34e;
}

.sub-links {
  height: 0px;
  overflow: hidden;
}
/* nav:hover .sub-links{
   height:100px;
} */

.sub-links h5 {
  overflow: hidden;
}

#nav-bottom {
  width: 84vw;
  position: absolute;
  bottom: 0%;
  background: red;
  border-bottom: 1px solid white;
}

#moving-div {
  margin-top: 5vh;
  display: flex;
  width: 70vw;
  gap: 2vw;
  overflow: hidden;
  position: absolute;
  bottom: 5%;
}

#moving-div .move {
  display: flex;
  align-items: center;
  gap: 2vw;
  animation: move;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#moving-div .move img {
  width: 10vh;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

#blur-left {
  height: 100%;
  width: 20%;
  background: linear-gradient(to right, #000000, transparent);
  position: absolute;
  top: 0;
  z-index: 99;
}
#blur-right {
  height: 100%;
  right: 0;
  width: 20%;
  background: linear-gradient(to right, transparent, #000000);
  position: absolute;
  top: 0;
  z-index: 99;
}

#page2 {
  height: auto;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
}
#page2-left {
  padding: 1vw;
}
/* #page2-left div {
  padding-top: 2vw;
} */
#page2-left div p {
  font-size: 1.5vh;
  color: white;
  font-weight: 200;
}

.accordion-button {
  background-color: transparent;
  color: white;
  border: none;
}
.accordion-item {
  background-color: transparent;
  color: white;
  border: none;
}
.accordion-button {
  background: transparent;
  border: none;
  padding-left: 0px;
}

.accordion-button h1 {
  font-weight: 600;
  color: white;
}
.accordion-button:focus {
  background: transparent;
  border: none;
}

.accordion-button:after { 
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: var(--bs-accordion-active-bg);
  box-shadow: none !important;
}
#button-div {
  background-color: #0ca34e;
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1vw;
  border-radius: 50px;
  border: none;
  color: white;
  position: sticky;
  top: 20%;
  font-weight: 500;
  text-transform: uppercase;
}

#button-div > div {
  background-color: red;
  position: relative;
}

#button-div div span {
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: transparent;
}

.accordion-header {
  padding: 1vw;
}

.accordion-header div {
  display: flex;
}
.accordion-header div h4 {
  font-size: 1vw;
  font-weight: 500;
  padding: 5px 10px;
  border: 1px solid #a5a5a5;
  border-radius: 50px;
  margin-top: 1vw;
  color: #a5a5a5;
  margin-right: 1vw;
}
.accordion-button:not(.collapsed) {
  box-shadow: transparent;
}
.accordion-inner-div {
  border-top: 1px solid #a5a5a5;
  padding-top: 1vw;
  padding-bottom: 8vh;
  position: relative;
}

.accordion-inner-div img {
  height: 7vw;
  width: 7vw;
  padding: 0px;
  object-fit: cover;
  margin-top: 2vw;
  opacity: 0;
  position: absolute;
  scale: 0;
  border-radius: 50%;
}
.heading-col h2 {
  font-size: 2.5vh;
  font-weight: 250;
}
.para-col p {
  font-weight: 200;
  font-size: 1.5vh;
}

#page3 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("./Images/show-rell-banner.webp");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page3-center h3 {
  background-color: white;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 1vw;
  opacity: 0;
  transform: translateY(10%);
  transition: all ease 0.5s;
}

#page3-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#page3-center i {
  font-size: 2vw;
  color: black;
}
#page3-center div {
  height: 9vw;
  width: 9vw;
  margin-bottom: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
}

#page3-center:hover h3 {
  opacity: 1;
  transform: translateY(0%);
}

#page3 video {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  transform: scaleX(0.7) scaleY(0.2);
  border-radius: 30px;
  opacity: 0;
  bottom: 0%;
  top: 13vw;
  z-index: 9999;
}

#page4 {
  min-height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;

  align-items: center;
  flex-direction: column;
}

.left-col div h1 {
  font-weight: 400;
  font-size: 5vh;
  border-top: 2px solid black;
  padding-top: 1.5vw;
}
.left-col div p {
  font-weight: 400;
  font-size: 2vh;
}
.right-col {
  position: relative;
}
.right-col video {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0;
}
.right-col img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.folloing-div {
  position: absolute;
  height: 11vw;
  width: 11vw;
  padding: 0vw;
  background-color: #0ca34e;
  border-radius: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  opacity: 0;
  overflow: hidden;
  top: 50%;
  scale: 0;
}

.folloing-div p {
  font-weight: 400;
  color: white;
}

#page5 {
  width: 100vw;
  display: flex;
  justify-content: center;
}
#page5 > div {
  width: 100vw;
  padding: 1vw;
}

.page-5-col {
  padding: 1vw;
  border-right: 1px solid rgb(69, 69, 69);
}
.page-5-col:last-child {
  border: none;
}
.page-5-col h5 {
  color: rgb(1, 1, 1);
  font-weight: 200;
  font-size: 1.5vw;
  margin-bottom: 2vw;
}
.page-5-col h4 {
  background-color: #000000;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 1vw;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
}

.page-5-col h4 span {
  height: 1vw;
  width: 1vw;
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
#page6 {
  height: 50vh;
  width: 100vw;
  background-color: #000000;
}
